.calculadora{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.title{
    color: black;
}