.display{
    grid-column: span 4;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px; 
    font-size:2.1em;  
    overflow: hidden;
}